In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Crear el DataFrame con los datos
data = {
    'Total de personas a bordo': [5008.000000, 31.015575, 45.438768, 0.000000, 6.000000, 16.000000, 34.250000, 644.000000],
    'Pasajeros': [5008.000000, 25.691294, 43.405075, 0.000000, 2.000000, 11.000000, 29.000000, 614.000000],
    'Tripulacion': [5008.000000, 4.321885, 3.789422, 0.000000, 2.000000, 3.000000, 6.000000, 83.000000],
    'Total de Fallecidos': [5008.000000, 22.258387, 34.983747, 0.000000, 4.000000, 11.000000, 25.000000, 583.000000],
    'Pasajeros Fallecidos': [5008.000000, 18.051917, 33.496574, 0.000000, 0.000000, 7.000000, 20.000000, 560.000000],
    'Tripulantes Fallecidos': [5008.000000, 3.418930, 3.193296, 0.000000, 1.000000, 3.000000, 5.000000, 43.000000],
    'Muertos en tierra': [5008.000000, 1.703275, 55.251400, 0.000000, 0.000000, 0.000000, 0.000000, 2750.000000]
}

df = pd.DataFrame(data, index=['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'])

In [2]:
df

,Total de personas a bordo,Pasajeros,Tripulacion,Total de Fallecidos,Pasajeros Fallecidos,Tripulantes Fallecidos,Muertos en tierra
count,5008.000000,5008.000000,5008.000000,5008.000000,5008.000000,5008.000000,5008.000000
mean,31.015575,25.691294,4.321885,22.258387,18.051917,3.418930,1.703275
std,45.438768,43.405075,3.789422,34.983747,33.496574,3.193296,55.251400
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,2.000000,2.000000,4.000000,0.000000,1.000000,0.000000
50%,16.000000,11.000000,3.000000,11.000000,7.000000,3.000000,0.000000
75%,34.250000,29.000000,6.000000,25.000000,20.000000,5.000000,0.000000
max,644.000000,614.000000,83.000000,583.000000,560.000000,43.000000,2750.000000